$text-color: black;

@mixin box-shadow($color) {
    box-shadow: 3px 3px 4px 1px rgba($color, 0.6);
}

@mixin make-bold($bool) {
    @if $bool == true {
        font-weight: bold;
    }
}

@mixin text-effect($var) {
    @if $var == danger {
        color: darken(red, 10);
    }
    @else if $var == alert {
        color: darken(yellow, 10);
    }
    @else {
        color: darken(green, 10);
    } 
}

@for $i from 1 through 6 {
    .mina-#{$i} {
        font-size: 15px * $i;
    }
}

$colors: (color1: blue, color2: yellow, color3: green);
@each $key, $color in $colors {
    .#{$color}-text {color: darken($color, 10);}
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @extend .flex;
    height: 100%;
    flex-direction: column;
    background-color: #7159c1;
    color: $text-color;
}

.container {
    @include box-shadow(rgba(0,0,0,0.6));
    width: 200px;
    height: 200px;
    background-color: gray;
    $text-color: blue;
    .prof {
        @include box-shadow(orange);
        background-color: purple;
        width: 100px;
        height: 100px;
        color: $text-color;
        @include make-bold(true); 
    }
    #danger {
        @include text-effect(danger);
    }
    #alert {
        @include text-effect(alert);
    }
    #positive {
        @include text-effect(correct);
    }
    
}

